@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes circle1Animate {
    50% {
      left: 33%;
      top: 4%;
      scale: 1.11;
    }
  }
@keyframes circle2Animate {
    50% {
      bottom: 6%;
      right: 31%;
    }
  }